.env
.vscode
__pycache__
assets/font
assets/music_temp
assets/data/memory
assets/data/personality
assets/data/debt_log
config/bot_config.json
config/music_config.json
config/bot_config.yml
config/music_config.yml
config/config.yml
test
log
notes.md